<h3>products2</h3>
 <!--<div>
  <ul>
    <li class="list-group-item" *ngFor = "let product of products">
     <jce-product [product] = "product"></jce-product>
     <ul>
       <li *ngFor = "let cname of product.categoryNames">
         {{(cname | async)?.cname}}
       </li>
     </ul>
    </li>
  </ul>
</div>-->

<div>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Cost</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let product of products">
        <td>{{product.pname}}</td>
        <td>{{product.cost}}</td>
        <td *ngFor = "let cname of product.categoryNames">{{(cname | async)?.cname}}</td>
      </tr>
    </tbody>
  </table>
  </div>