<h1>
  {{title}}
</h1>
<!--<de-demo> Looding...</de-demo>-->
<nav class="navbar navbar-default">
  <a class="navbar-brand">WebSiteName</a>
  <a class="navbar-brand" routerLink = "/users">Users</a> 
  <a class="navbar-brand" routerLink = "/posts">Posts</a> 
  <a class="navbar-brand" routerLink = "/products">Products</a>
</nav>
<router-outlet>  </router-outlet>