<span *ngIf = "!isEdit"> Authtor: {{post.author}}, Content: {{post.content}}, Title: {{post.title}} </span>
<span *ngIf = "isEdit"> 
    Authtor: <input type="text" [(ngModel)] = "post.author">
    Content: <input type="text" [(ngModel)] = "post.content">
    Title: <input type="text" [(ngModel)] = "post.title">
</span>
<button class="pull-right btn btn-danger btn-xs" (click) = "sendDelete()">Delete</button>
<button class="pull-right btn btn-primary btn-xs" (click) = "toggleEdit()">{{editButtonText}}</button>
<button *ngIf = "isEdit" class="pull-right btn  btn-xs" (click) = "sendCancel()">{{cancelButtonText}}</button>
