<h3>products</h3>
 <!-- <div>
  <ul>
    <li class="list-group-item" *ngFor = "let product of products">
     <jce-product [product] = "product" (deleteEvent) = "deleteProduct($event)"></jce-product>
    </li>
  </ul>
</div>
<jce-product2></jce-product2>-->

<div>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Cost</th>
      <th>Category</th>
       <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let product of products">
        <td>{{product.pname}}</td>
        <td>{{product.cost}}</td>
        <td>{{product.categoryId}}</td>
        <td><jce-product [product] = "product" (deleteEvent)="deleteProduct($event)" ></jce-product></td>
      </tr>
    </tbody>
  </table>
  </div>
  <jce-product2></jce-product2>
