<!--<span *ngIf = "isPname"> {{product.pname}}</span>
<span *ngIf = "isCost"> {{product.cost}}</span>
<span *ngIf = "isCategoryId"> {{product.categoryId}}</span>-->

 <!--Product Name: {{product.pname}}    {{product.cost}}$
<br> Category Id: {{product.categoryId}}-->
 <button class="pull-right btn btn-danger btn-xs" (click) = "sendDelete()" >Delete</button>
<!--<span *ngIf = "isEdit"> 
    Name: <input type="text" [(ngModel)] = "product.pname">
    Email: <input type="text" [(ngModel)] = "product.cost">
</span>-->
<!--<button class="pull-right btn btn-danger btn-xs" (click) = "sendDelete()">Delete</button>
<button class="pull-right btn btn-primary btn-xs" (click) = "toggleEdit()">{{editButtonText}}</button>-->
 
